
@{
    ViewBag.Title = "Destination";
}

<h2>Destination</h2>

<p>Name: @ViewData["Name"]</p>
<p>Name: @ViewBag.Name</p>

<p>Age: @ViewBag.Age</p>
<p>Age: @ViewData["Age"]</p>

<p>Message: @TempData["Message"]</p>